header{
    height: 100px;
    padding: 15px;;
}

nav{
    margin: auto;

}

nav li {
    display: inline-block;
    width: 150px;
    padding: 5px;
    
}

ul{
  margin: auto;
  width: 1000px;  
}

.left{
    float: left;
    
}
.right{
     float: right;
       
}
.info div{
    float: left;
    margin-top: 10px;
    padding: 4px;

}
.info div.remelis{
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}
nav a{
    color:black;
    text-decoration: none;
}
.HONE a{
    border-bottom: solid 2px;
}
.wraper{
    border-bottom: solid 2px;
}
  
main{
    width: 50%;
    float: left;
}
main article{
    width: 60%;
}
h1{
    font-size: 4em;
    border-bottom: solid 2px;
}
.bottom{
    margin-top: 350px;
    width: 100%;
    font-size: 30px;
}
aside{
    width: 40%;
    float: right;

}
img{
    width: 700px;
    height: 800px;
    padding-top: 30px;
}



